.headerImg img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    filter: blur(4px) grayscale(0.5);
    position: absolute;
    z-index: -1;
}

.row {
    margin-right: 0 !important;
}
.headerImg {
    padding: 0px;
}

.invisibleTab td{
    border-top-color: transparent !important;
    padding: 3px;
}

.invisibleTab th{
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

.jumbotron{
    margin-bottom: 0px !important;
    padding-bottom: 20px !important;
}

.counter {
    font-weight: 800;
    font-size: 2.0rem;
}

.chart {
    color : black;
    height : 400px;
}

.whitechart text{
    fill:white !important;
}
